body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1976D2; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px; /* Espaciado interior */
}

nav ul {
    list-style: none;   /* Elimina los puntos de la lista */
    margin: 0;          /* Elimina el margen externo */
    padding: 0;         /* Elimina el relleno interno */
}

nav li {
    display: inline; /* Mostrar los elementos en línea */
    margin-right: 20px; /* Espacio entre elementos */
    font-weight: bold; /* Hacer el texto en negrita */
    text-transform: uppercase; /* Convertir el texto a mayúsculas */
    color: #333; /* Color del texto */
    transition: color 0.3s ease; /* Transición de color suave al pasar el ratón */
}

nav li:hover {
    color: #1976D2; /* Cambiar el color al pasar el ratón */
}

nav a {
    color: white;             /* Color del texto de los enlaces */
    text-decoration: none;    /* Elimina el subrayado de los enlaces */
    padding: 10px;            /* Espaciado alrededor del enlace */
    transition: background-color 0.3s ease; /* Transición suave al pasar el mouse */
}

nav a:hover {
    background-color: #1565C0; /* Color de fondo al pasar el mouse */
}